<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <connectionStrings>
    <add name="BloggingDatabase"
         connectionString="Server=tcp:driverlicense.database.windows.net,1433;
             Initial Catalog=DriverLicense;
             Persist Security Info=False;
             User ID={minhnguyen};
             Password={vntayemm@1};
             MultipleActiveResultSets=False;
             Encrypt=True;
             TrustServerCertificate=False;
             Connection Timeout=30;" />
  </connectionStrings>
</configuration>
